html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px; 
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}

footer {
    background: #64876F;
}

img{
    max-width: 100%;
    height: auto;
}

section{
    padding: 50px 0;
}

a {
    color: #858484;
}

a:hover {
    color: #858484;
}

/*Header*/
.navbar-light .navbar-nav .navbar-link {
    color: #858484;
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}
/*Header*/

/*Footer*/
.footer {
    background-color: #64876F;
}

.footer h5{
    color: #fff;
    padding-bottom: 3px;
}

.footer a, .footer li{
    color: #FFFFFF;
}

.text-header {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}
/*Footer*/


/*HomePage start*/
.main-page {
    background: #FFFFFF;
    width: 1920px;
    height: 3850px;
}
.main-screen {
    width: 1220px;
    height: 275px;
    left: 80px;
    top: 100px;
}
.btn {
    background: #CBBAA9;
    border-radius: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
}
.btn1 {
    box-sizing: border-box;
    border: 1px solid #858484;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    width: 186px;
    height: 50px;
    border-radius: 10px;
    margin-left: 550px;
}
.hp-screen2 {
    left: 100px;
    top: 900px;
}
.card1 {
    background: #FFFFFF;
    height: 328px;
    width: 325px;
    margin-top: 20px;
    border-radius: 30px;
    left: 0%;
    right: 75.87%;
    top: 0.92%;
    bottom: 45.57%;
    background: #FFFFFF;
    box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.05);
    border: 0px;
}
.text-main-screen {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
}
.text2-main-screen {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    letter-spacing: 0.05em;
}
.p-5 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #201E1E;
}
.card-title1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #201E1E;
}
.card-text1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #858484;
}
.fa-star {
    color: #2CB47B;
}
.p-cont {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #858484;
}
.p-cont2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #858484;
}
    /*HomePage finish*/
 .about-page {
        background: #FFFFFF;
        width: 1920px;
        height: 1600px;
 }
.custom-column {
    margin-bottom: 80px;
}


.contact-page {
    background: #FFFFFF;
    width: 1920px;
    height: 1380px;
}