html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}

footer {
    background: #64876F;
}

img{
    max-width: 100%;
    height: auto;
}

section{
    padding: 50px 0;
}

a {
    color: #858484;
}

a:hover {
    color: #858484;
}

/*Header*/
.navbar-light .navbar-nav .navbar-link {
    color: #858484;
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}
/*Header*/

/*Footer*/
.footer {
    background-color: #64876F;
}

.footer h5{
    color: #fff;
    padding-bottom: 3px;
}

.footer a, .footer li{
    color: #FFFFFF;
}

.text-header {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}
/*Footer*/


.main-screen {
    background: #F5F5F5;
}

.btn {
    background: #CBBAA9;
    border-radius: 40px;
}

.btn1 {
    box-sizing: border-box;
    border: 1px solid #858484;
    border-radius: 10px;
}

.hp-screen2 {
    left: 100px;
    top: 900px;
}

.card1 {
    background: #FFFFFF;
    box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}
