@{
    ViewData["Title"] = "Про нас";
}

<main class="container main-page">
    <div class="hp-screen2">
        <div class="p-5 text-center">
            <h1 class="mb-3">Про нас</h1>
        </div>
    </div>

</main>
