@{
    ViewData["Title"] = "Про нас";
}

<main class="container about-page">
    <div class="row">
        <div class="col">
            <nav class="rounded-3 mb-4">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Головна </a></li>
                    <li class="breadcrumb-item active" aria-current="page">Про нас</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="hp-screen2">
        <div class="p-5 text-center">
            <h1 class="mb-3">Про нас</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 custom-column">
                <img src="/image/About1.png" alt="фото Відпочинок с користю для себе" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p class="card-title" style="font-family: Inter; font-size: 25px; font-weight: 500;line-height: 35px; letter-spacing: 0.02em; text-align: left;">
                    Відпочинок с користю для себе</p>
                <p class="card-text" style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 14px;line-height: 150%;color: #858484;">
                    Ласкаво просимо до нашого готелю в Карпатах, де ви знайдете усе необхідне для відпочинку та пригод. Наш ресторан пропонує широкий вибір страв з місцевої кухні, 
                    де ви зможете смакувати ароматні страви з натуральних інгредієнтів. Відчуйте справжню культуру та смаки Карпат у затишній обстановці нашого ресторану.

                    Для тих, хто любить активний відпочинок, ми пропонуємо катання на мотоциклах. Ви зможете відчути адреналін, рухаючись по пагорбистих місцевостях та насолоджуватися 
                    захоплюючими краєвидами навколо.А для шанувальників гірських прогулянок у нашому готелі доступні організовані походи в гори. Досліджуйте непередбачувані стежки, 
                    насолоджуйтесь величчю гірських вершин і дихайте свіжим повітрям Карпат. Наші професійні гіди допоможуть вам обрати найкращі маршрути відповідно до вашого досвіду та бажань.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 custom-column">
                <p class="card-title" style="font-family: Inter; font-size: 25px; font-weight: 500;line-height: 35px; letter-spacing: 0.02em; text-align: left;">
                    Розташування
                </p>
                <p class="card-text" style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 14px;line-height: 150%;color: #858484;">
                    Готель "Muson" розташований в прекрасному містечку Яремче, що є одним з найбільш відомих туристичних напрямків у Карпатах. Це мальовниче місце знаходиться в області Івано-Франківськ, 
                    в Західній Україні. Яремче славиться своєю природною красою, гірськими потоками, водоспадами, зеленими луки та гірськими вершинами.

                    Завдяки своєму розташуванню, готель "Muson" має зручний доступ до головних туристичних атракцій Яремче. Гості можуть відвідати Яремчанський водоспад, який є символом міста, 
                    або вирушити на екскурсію до карпатських гірських вершин, де вони зможуть насолоджуватися захоплюючими краєвидами і робити фотографії. Загальне розташування готелю в Яремче ідеально підходить для тих, 
                    хто бажає поєднати спокій із можливістю активного відпочинку в горах.
                </p>
            </div>
            <div class="col-md-6">
                <img src="/image/About2.png" alt="фото Розташування" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 custom-column">
                <img src="/image/About3.png" alt="фото Інфраструктура" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p class="card-title" style="font-family: Inter; font-size: 25px; font-weight: 500;line-height: 35px; letter-spacing: 0.02em; text-align: left;">
                    Інфраструктура
                </p>
                <p class="card-text" style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 14px;line-height: 150%;color: #858484;">
                    Готель "Muson" пишається розгалуженою інфраструктурою, щоб задовольнити всі потреби своїх гостей. У розпорядженні гостей є затишний ресторан, де можна скуштувати смачні страви, відпочити в барі з 
                    розкішним атмосферним інтер'єром та випити улюблений напій. Для тих, хто бажає розслабитися та помічати кожну мить відпочинку, готель пропонує спа-центр з басейном, сауною та процедурами для оздоровлення тіла і душі.

                    Крім того, готель "Muson" надає безкоштовне паркування для зручності гостей, що дозволяє з комфортом прибути на власному автомобілі. Загалом, інфраструктура готелю "Muson" створена з метою забезпечити комфортний та 
                    приємний відпочинок для своїх гостей, надаючи широкий спектр послуг і зручностей. Готель "Muson" забезпечує своїм гостям не лише затишні номери і розкішний відпочинок, але і додаткові послуги, щоб зробити їх перебування незабутнім.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 custom-column">
                <p class="card-title" style="font-family: Inter; font-size: 25px; font-weight: 500;line-height: 35px; letter-spacing: 0.02em; text-align: left;">
                    Чому вам варто обрати готель Muson?
                </p>
                <p class="card-text" style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 14px;line-height: 150%;color: #858484;">
                    Готель "Muson" - це ідеальне місце для відпочинку в Карпатах. Розташований в мальовничому містечку Яремче, він пропонує гостям комфортабельні номери зі зручностями, які забезпечують затишок і зручність під час перебування.

                    У готелі є власний ресторан, де ви можете смакувати ситні страви української та європейської кухні. Також є бар, де ви можете розслабитися і насолодитися різноманітними напоями.

                    Готель "Muson" також пропонує розваги на відкритому повітрі, такі як катання на квадроциклах або походи в гори, де ви зможете насолоджуватися красою карпатських ландшафтів та природоохоронних зон. Загалом, готель "Muson" створений для того, 
                    щоб ви могли насолодитися приємним і комфортним відпочинком в чарівній атмосфері Карпат.
                </p>
            </div>
            <div class="col-md-6">
                <img src="/image/About4.png" alt="фото Чому вам варто обрати готель Muson?" class="img-fluid">
            </div>
        </div>
    </div>

</main>
