@{
    ViewData["Title"] = "Головна сторінка";
}

<main class="container main-page">

    <div class="card text-white flex-container">
        <img src="/image/main_screenBGRND.png" class="card-img" alt="Stony Beach"/>
        <div class="main-screen card-img-overlay">
            <p class="card-text text-main-screen">Найкраще місце для вашого відпочинку</p>
            <p class="card-title text2-main-screen">Шукаєте хороший готель для відпочинку в горах?</p>
            <p class="card-title text2-main-screen"> Muson - саме для вас!</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Забронювати</a>
        </div>
    </div>

    <div class="hp-screen2">
        <div class="p-5 text-center">
            <h1 class="mb-3">Наші переваги</h1>
        </div>

        <div class="row row-cols-1 row-cols-md-4 g-5">
            <div class="col fixed-container">
                <div class="card card1 text-center justify-content-center align-items-center">
                    <img src="/image/Screen 2-1.svg" class="card-img-center" alt="Цілодобовий ресторан" />
                    <div class="card-body">
                        <h5 class="card-title1">Цілодобовий ресторан</h5>
                        <p class="card-text1">
                            Ресторан працює цілобово, щоб клієнти не втрачали часу і могли скуштувати смачні страви
                        </p>
                    </div>
                </div>
            </div>
            <div class="col fixed-container">
                <div class="card card1 text-center justify-content-center align-items-center">
                    <img src="/image/Screen 2-2.svg" class="card-img-center" alt="Найсмачніші страви" />
                    <div class="card-body fixed-container">
                        <h5 class="card-title1">Найсмачніші страви </h5>
                        <p class="card-text1">Наш ресторан пропонує страви на любий смак та настрій</p>
                    </div>
                </div>
            </div>
            <div class="col fixed-container">
                <div class="card card1 text-center justify-content-center align-items-center">
                    <img src="/image/Screen 2-3.svg" class="card-img-center" alt="Відпочинок на ваш смак" />
                    <div class="card-body">
                        <h5 class="card-title1">Відпочинок на ваш смак</h5>
                        <p class="card-text1">
                            У нас є відпочинок як для дорослих, так і для дітей
                        </p>
                    </div>
                </div>
            </div>
            <div class="col fixed-container">
                <div class="card card1 text-center justify-content-center align-items-center">
                    <img src="/image/Screen 2-4.svg" class="card-img-center" alt="Швидке та якісне прибирання в номері" />
                    <div class="card-body">
                        <h5 class="card-title1">Швидке та якісне прибирання в номері</h5>
                        <p class="card-text1">
                            Потрібно негайно прибратися в номері, наш персонал зробить швидко і без будь-яких але
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-5">
            <div class="col fixed-container">
                <div class="card card1 text-center justify-content-center align-items-center">
                    <img src="/image/Screen 2-5.svg" class="card-img-top" alt="Акції та знижки" />
                    <div class="card-body">
                        <h5 class="card-title1">Акції та знижки</h5>
                        <p class="card-text1">
                            Ми турбуємось про наших клієнтів, тому ми регулярно проводимо знижки та акційні пропозиції
                        </p>
                    </div>
                </div>
            </div>
            <div class="col fixed-container">
                <div class="card card1 text-center justify-content-center align-items-center">
                    <img src="/image/Screen 2-6.svg" class="card-img-center" alt="Цілодобова технічна підтрмика" />
                    <div class="card-body">
                        <h5 class="card-title1">Цілодобова технічна підтрмика</h5>
                        <p class="card-text1">У разі будь яких питань, ви можете сміливо звернутися  до тех.підтримки нашого готеля</p>
                    </div>
                </div>
            </div>
            <div class="col fixed-container">
                <div class="card card1 text-center justify-content-center align-items-center">
                    <img src="/image/Screen 2-7.svg" class="card-img-center" alt="Великий вибір платіжних систем" />
                    <div class="card-body">
                        <h5 class="card-title1">Великий вибір платіжних систем</h5>
                        <p class="card-text1">
                            Наш сервіс підтримує до 7 платіжних систем. Обираєте ту, яка вам більш до вподоби
                        </p>
                    </div>
                </div>
            </div>
            <div class="col fixed-container">
                <div class="card card1 text-center justify-content-center align-items-center">
                    <img src="/image/Screen 2-8.svg" class="card-img-center" alt="Цілодобове розміщення" />
                    <div class="card-body">
                        <h5 class="card-title1">Цілодобове розміщення</h5>
                        <p class="card-text1">
                            Адміністрація готелю працює цілодобово і розмістить вас в любий час та день
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="hp-screen3">
        <div class="p-5 text-center">
            <h1 class="mb-3">Готельні номери</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <div class="card md-6" style="background: #FFFFFF;box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);height: 335px;width: 636px;left:0px; border-radius: 30px;">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/image/Screen3-1.png" class="img-fluid rounded-start" alt="Стандартний" style="min-width:275px; height:275px; border-radius: 20px; margin-top:30px;">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <p class="card-title" style="font-family: 'Inter';font-style: normal;font-weight: 600;font-size: 18px;line-height: 140%;letter-spacing: 0.02em;color: #201E1E;">Стандартний</p>
                                        <p class="card-text" style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 14px;line-height: 150%;color: #858484;">
                                            Затишний стандартний номер в готелі Карпат - ідеальне місце для вашого відпочинку серед гірської краси.
                                            Насолоджуйтеся комфортом односпального ліжка, зручними меблями та основними зручностями...
                                        </p>
                                        <p class="card-title" style="font-family:'Inter';font-style:normal;font-weight:400;font-size: 16px;line-height: 140%;color: #353535;">Які тут зручності</p>
                                        <div class="row">
                                            <div class="col-4">
                                                <p style="font-size: 10px; color: #858484;"><span><i class="fa fa-wifi" style="color: #64876f;"></i></span> Інтернет</p>
                                            </div>
                                            <div class="col-4 text-center">
                                                <p style="font-size: 10px; color: #858484;"><span><i class="far fa-building" style="color: #64876f;"></i></i></span> Холодильник</p>
                                            </div>
                                            <div class="col-4 text-center">
                                                <p style="font-size: 10px; color: #858484;"><span><i class="fa fa-tv" style="color: #64876f;"></i></span> Телевізор</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <p style="font-size: 10px; color: #858484;"><span><i class="fa fa-bath" style="color: #64876f;"></i></span> Ванна</p>
                                            </div>
                                        </div>
                                        <p class="card-text">
                                            <button type="button" class="btn btn-primary btn-rounded">Забронювати</button>
                                            <small class="text-muted">Вартість від 2200 грн</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card md-6" style="background: #FFFFFF;box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);height: 335px;width: 636px;left:0px; border-radius: 30px;">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/image/Screen3-2.png" class="img-fluid rounded-start" alt="Стандартний" style="min-width:275px; height:275px; border-radius: 20px; margin-top:30px;">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <p class="card-title" style="font-family: 'Inter';font-style: normal;font-weight: 600;font-size: 18px;line-height: 140%;letter-spacing: 0.02em;color: #201E1E;">Напівлюкс</p>
                                        <p class="card-text" style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 14px;line-height: 150%;color: #858484;">
                                            Елегантний напівлюкс в готелі Карпат - ваше розкішне пристанище серед витонченості та гірського дива. Розслабтеся в просторому номері з
                                            комфортним двоспальним ліжком, розкішною обстановкою та вишуканими деталями.
                                        </p>
                                        <p class="card-title" style="font-family:'Inter';font-style:normal;font-weight:400;font-size: 16px;line-height: 140%;color: #353535;">Які тут зручності</p>
                                        <div class="row">
                                            <div class="col-4">
                                                <p style="font-size: 10px; color: #858484;"><span><i class="fa fa-wifi" style="color: #64876f;"></i></span> Інтернет</p>
                                            </div>
                                            <div class="col-4 text-center">
                                                <p style="font-size: 10px; color: #858484;"><span><i class="far fa-building" style="color: #64876f;"></i></i></span> Холодильник</p>
                                            </div>
                                            <div class="col-4 text-center">
                                                <p style="font-size: 10px; color: #858484;"><span><i class="fa fa-tv" style="color: #64876f;"></i></i></span> Телевізор</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <p style="font-size: 10px; color: #858484;"><span><i class="fa-duotone fa-fan-table" style="color: #64876f;"></i></span> Фен</p>
                                            </div>
                                            <div class="col-4">
                                                <p style="font-size: 10px; color: #858484;"><span><i class="fa-solid fa-laptop" style="color: #64876f;"></i></span> Праска</p>
                                            </div>
                                            <div class="col-4">
                                                <p style="font-size: 10px; color: #858484;"><span><i class="fa-thin fa-air-conditioner" style="color: #64876f;"></i></span> Кондиціонер</p>
                                            </div>
                                        </div>
                                        <p class="card-text">
                                            <button type="button" class="btn btn-primary btn-rounded">Забронювати</button>
                                            <small class="text-muted">Вартість від 2200 грн</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="card md-6" style="background: #FFFFFF;box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);height: 335px;width: 636px;left:0px; border-radius: 30px;">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/image/Screen3-3.png" class="img-fluid rounded-start" alt="Стандартний" style="min-width:275px; height:275px; border-radius: 20px; margin-top:30px;">
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <p class="card-title" style="font-family: 'Inter';font-style: normal;font-weight: 600;font-size: 18px;line-height: 140%;letter-spacing: 0.02em;color: #201E1E;">Люкс покращений </p>
                                            <p class="card-text" style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 14px;line-height: 150%;color: #858484;">
                                                Розкішний покращений люкс в готелі Карпат - ваш власний оазис розкіші та комфорту серед величі гірського пейзажу. Насолоджуйтесь шикарними просторами, включаючи окрему спальню та вітальню, 
                                                ексклюзивний дизайн і вишукані меблі...
                                            </p>
                                            <p class="card-title" style="font-family:'Inter';font-style:normal;font-weight:400;font-size: 16px;line-height: 140%;color: #353535;">Які тут зручності</p>
                                            <div class="row">
                                                <div class="col-4">
                                                    <p style="font-size: 10px; color: #858484;"><span><i class="fa fa-wifi" style="color: #64876f;"></i></span> Інтернет</p>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <p style="font-size: 10px; color: #858484;"><span><i class="far fa-building" style="color: #64876f;"></i></i></span> Холодильник</p>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <p style="font-size: 10px; color: #858484;"><span><i class="fa fa-tv" style="color: #64876f;"></i></span> Телевізор</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <p style="font-size: 10px; color: #858484;"><span><i class="fa fa-bath" style="color: #64876f;"></i></span> Ванна</p>
                                                </div>
                                            </div>
                                            <p class="card-text">
                                                <button type="button" class="btn btn-primary btn-rounded">Забронювати</button>
                                                <small class="text-muted">Вартість від 5200 грн</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card md-6" style="background: #FFFFFF;box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);height: 335px;width: 636px;left:0px; border-radius: 30px;">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/image/Screen3-4.png" class="img-fluid rounded-start" alt="Стандартний" style="min-width:275px; height:275px; border-radius: 20px; margin-top:30px;">
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <p class="card-title" style="font-family: 'Inter';font-style: normal;font-weight: 600;font-size: 18px;line-height: 140%;letter-spacing: 0.02em;color: #201E1E;">Президентський</p>
                                            <p class="card-text" style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 14px;line-height: 150%;color: #858484;">
                                                Президентський номер - вища точка розкіші та престижу в готелі Карпат. Відчуйте себе справжнім господарем, насолоджуючись простором та розкішшю цього вишуканого помешкання. 
                                                Ексклюзивність і велич
                                            </p>
                                            <p class="card-title" style="font-family:'Inter';font-style:normal;font-weight:400;font-size: 16px;line-height: 140%;color: #353535;">Які тут зручності</p>
                                            <div class="row">
                                                <div class="col-4">
                                                    <p style="font-size: 10px; color: #858484;"><span><i class="fa fa-wifi" style="color: #64876f;"></i></span> Інтернет</p>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <p style="font-size: 10px; color: #858484;"><span><i class="far fa-building" style="color: #64876f;"></i></i></span> Холодильник</p>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <p style="font-size: 10px; color: #858484;"><span><i class="fa fa-tv" style="color: #64876f;"></i></i></span> Телевізор</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <p style="font-size: 10px; color: #858484;"><span><i class="fa-duotone fa-fan-table" style="color: #64876f;"></i></span> Фен</p>
                                                </div>
                                                <div class="col-4">
                                                    <p style="font-size: 10px; color: #858484;"><span><i class="fa-solid fa-laptop" style="color: #64876f;"></i></span> Праска</p>
                                                </div>
                                                <div class="col-4">
                                                    <p style="font-size: 10px; color: #858484;"><span><i class="fa-thin fa-air-conditioner" style="color: #64876f;"></i></span> Кондиціонер</p>
                                                </div>
                                            </div>
                                            <p class="card-text">
                                                <button type="button" class="btn btn-primary btn-rounded">Забронювати</button>
                                                <small class="text-muted">Вартість від 7200 грн</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>




        <button type="button" class="btn1 btn-outline-secondary" data-mdb-ripple-color="dark">Дізнатися більше</button>

        </div>

        <div class="container hp-screen4">
        <div class="row">
            <div class="col-md-6">
                        <h2 style="font-family:'Ubuntu';font-style: normal;font-weight: 500;font-size: 35px;line-height: 140%;letter-spacing: 0.05em;color: #201E1E;">
                            Відпочинок з користю для себе
                        </h2>
                        <p style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 18px;line-height: 140%;color: #858484;">
                    Ласкаво просимо до нашого готелю в Карпатах, де ви знайдете усе необхідне для відпочинку та пригод. Наш ресторан пропонує широкий вибір страв з місцевої кухні, де ви зможете смакувати ароматні страви з натуральних інгредієнтів. 
                    Відчуйте справжню культуру та смаки Карпат у затишній обстановці нашого ресторану. <br/>
                            <br />
                    Для тих, хто любить активний відпочинок, ми пропонуємо катання на мотоциклах. Ви зможете відчути адреналін, рухаючись по пагорбистих місцевостях та насолоджуватися захоплюючими краєвидами навколо.<br />
                            <br />
                    А для шанувальників гірських прогулянок у нашому готелі доступні організовані походи в гори. Досліджуйте непередбачувані стежки, насолоджуйтесь величчю гірських вершин і дихайте свіжим повітрям Карпат. Наші професійні гіди допоможуть вам обрати найкращі маршрути відповідно до вашого досвіду та бажань.<br />
                            <br />
                    По поверненні до готелю, вас очікує комфортабельний номер зі всіма зручностями, де ви зможете розслабитися та відновити сили після насиченого дня. Наш персонал готовий забезпечити вам комфорт та зробити ваше перебування незабутнім.
                    Так що приєднуйтесь до нас і насолоджуйтеся усіма чарами Карпат - від смачної кухні до активного відпочинку в гірській мальовничій місцевості. Відкрийте для себе красу природи та гостинність цього унікального регіону.
                </p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                                <img src="/image/Screen4-1.png" alt="Фото 1" class="img-fluid" style="border-radius: 25px;">
                    </div>
                    <div class="col-md-4">
                        <img src="/image/Screen4-2.png" alt="Фото 2" class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <img src="/image/Screen4-3.png" alt="Фото 3" class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <img src="/image/Screen4-4.png" alt="Фото 4" class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <img src="/image/Screen4-5.png" alt="Фото 5" class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <img src="/image/Screen4-6.png" alt="Фото 6" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="container hp-screen5">
        <div class="p-5 text-center">
            <h1 class="mb-3">Відгуки нашіх  клієнтів</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="testimonial">
                    <div class="testimonial-avatar">
                        <img src="https://e7.pngegg.com/pngimages/552/861/png-clipart-computer-icons-avatar-avatar-computer-icons-avatar.png" style="max-width:100px" alt="Аватарка 1" class="rounded-circle">
                    </div>
                    <div class="testimonial-content">
                        <h4>Владислав Гердіїнко</h4>
                        <p>Кайфовое место, приятная официантка, очень вкатывают комплексные обеды, также блинчики с джемом - это лучшее что придумало человечество. Кстати хочу пельменей.</p>
                        <div class="testimonial-rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="testimonial">
                    <div class="testimonial-avatar">
                        <img src="https://e7.pngegg.com/pngimages/555/703/png-clipart-computer-icons-avatar-woman-user-avatar-face-heroes.png" style="max-width:100px" alt="Аватарка 1" class="rounded-circle">
                    </div>
                    <div class="testimonial-content">
                        <h4>Марія Торган</h4>
                        <p>Очень хороший отель! В нашем номере  было чисто, простыни и полотенца белоснежные. Тепло и уютно, пол с подогревом. Территория не большая, но ухоженная и красивая! </p>
                        <div class="testimonial-rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonial">
                    <div class="testimonial-avatar">
                        <img src="https://w7.pngwing.com/pngs/165/652/png-transparent-businessperson-computer-icons-avatar-avatar-heroes-public-relations-business.png" style="max-width:100px" alt="Аватарка 1" class="rounded-circle">
                    </div>
                    <div class="testimonial-content">
                        <h4>Александер МаЇєковскій</h4>
                        <p>Затишне місце, привітний господар, який по прибуттю розповів про ближчі та дальші місця, які можна відвідати та варто подивитись. Сам готель розміщений в мальовничій місцевості. </p>
                        <div class="testimonial-rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonial">
                    <div class="testimonial-avatar">
                        <img src="https://banner2.cleanpng.com/20180522/ikg/kisspng-avatar-computer-icons-business-olan-5b04721b88c289.4312994415270180115602.jpg" style="max-width:100px" alt="Аватарка 1" class="rounded-circle">
                    </div>
                    <div class="testimonial-content">
                        <h4>Богдан Захарчук</h4>
                        <p>Приїжджаю кожного року! Дуже подобається! Готель знаходиться в гарній горній місцевості, в 5 ти хв ходьби від квітки полонини. Ідеально для затишного, спокійного відпочинку. </p>
                        <div class="testimonial-rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p style="font-family: 'Ubuntu';font-style: normal;font-weight: 500;font-size: 35px;line-height: 140%;text-align: center;letter-spacing: 0.05em;color: #201E1E;">
                                Найчастіші запитання</p>
                            <ul class="list-group">
                                <li class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="305 номерів">Скільки номерів на вибір?</li>
                                <li class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="Так.">Ваш бренд є за кордоном?</li>
                                <li class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="Так">Чи можливо зробити бронування номеру за кілька місяців до заїзду?</li>
                                <li class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="Позвонити нам">Що робити якщо моя бронь відмінилась?</li>
                                <li class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="У нас є відпочинок як для дорослих, так і для дітей">Які розважальні пропозиції в Muson ?</li>
                                <li class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="Так">Чи можу я оплатити бронь онлайн?</li>
                            </ul>
                            <p style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 16px;line-height: 150%;color: #858484;">
                                Muson — Це новий 5-ти зірковий готельний комплекс найвищого європейського рівня відтепер у Львові! Розташований всього лише у 4 кілометрах від центру міста найдсучасний комплекс
                                запрошує львів’ян та гостей з усієї країни. </p>
                        </div>
                        <div class="col-md-6">
                            <p style="font-family: 'Ubuntu';font-style: normal;font-weight: 500;font-size: 35px;line-height: 140%;text-align: center;letter-spacing: 0.05em;color: #201E1E;">Контакти</p>
                            <p class="p-cont">вулиця Свободи, 59/2, Яремче, Івано-Франківська область, Україна, 78500</p>
                            <p class="p-cont">Email: Muson@gmail.com</p>
                            <p class="p-cont">+380 (501)13 28 28</p>
                            <p class="p-cont">+380 (245) 97 97 57</p>
                            <p class ="p-cont">+380 (175) 22 55 64</p>

                            <form>
                                <div class="form-group">
                                    <label for="email">Підпішиться на нашу розсилку:</label>
                                    <input type="email" class="form-control" id="email" placeholder="Введіть адрес електронної пошти">
                                </div>
                                <button type="submit" class="btn btn-primary"> Підписатися</button>
                            </form>
                            <p style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 14px;line-height: 140%;text-align: center;color: #858484;">Натиснувши на кнопку, я погоджуюсь з обробкою персональних даних</p>
                        </div>
                    </div>
                </div>
    </div>
    </div>
</main>
