@using Domain.Enum
@using Domain.Models.ViewModels
@model RoomViewModel

<h1>Are you sure you want to delete this room?</h1>

<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <input type="hidden" value="AddressId" id="AddressId" />
    <div class="form-group">
        <label asp-for="RoomNumber">Room Number</label>
        <input asp-for="RoomNumber" class="form-control" placeholder="Room Number" readonly>
        <span asp-validation-for="RoomNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountRoom">Count Room</label>
        <input asp-for="CountRoom" class="form-control" placeholder="Count Room" readonly>
        <span asp-validation-for="CountRoom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Floor">Floor</label>
        <input asp-for="Floor" class="form-control" placeholder="Floor" readonly>
        <span asp-validation-for="Floor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TypeRoom">Type Room</label>
        <input asp-for="TypeRoom" class="form-control" placeholder="TypeRoom" readonly>
        <span asp-validation-for="TypeRoom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status">Status</label>
        <input asp-for="Status" class="form-control" placeholder="Status" readonly>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    </form>
    <div class="form-group">
        <form action="Delete" method="post">
            <input type="hidden" asp-for="RoomId" />
            <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3" />
        </form>
     </div>